@font-face {
  font-family: "SFProDisplay-Black";
  src: url("./fonts/SFProDisplay-Black.ttf") format("truetype");
  /* Add other formats as you see fit */
}
@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("./fonts/SFProDisplay-Bold.ttf") format("truetype");
  /* Add other formats as you see fit */
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("./fonts/SFProDisplay-Semibold.ttf") format("truetype");
  /* Add other formats as you see fit */
}
@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("./fonts/SFProDisplay-Regular.ttf") format("truetype");
  /* Add other formats as you see fit */
}

html {
  overflow: hidden;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 0px;
}